<div class="page-wrap">
  <nav class="navbar navbar-expand-lg navbar-dark d-flex secondary-navbar">   
    <div class="d-flex justify-content-center" style="flex: auto; margin-left: -70px;">
      <div class="btn-group">
        <button type="button" class="btn btn-default tabButton" [class.active]="currentTab === 'PATIENT_TAB'"
          (click)="onSelectTab($event, 'PATIENT_TAB')">Patient View</button>
        <button type="button" class="btn btn-default tabButton " [class.active]="currentTab === 'F11_NOTES_TAB'"
          (click)="onSelectTab($event, 'F11_NOTES_TAB')">F11 Notes</button>
        <button type="button" class="btn btn-default tabButton" [class.active]="currentTab === 'TIMELINE_TAB'"
          (click)="onSelectTab($event, 'TIMELINE_TAB')">Timeline</button>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-default back-button" (click)="onBackClicked()">
        <span style="color: white"><i class="fa fa-chevron-left"></i> {{patientDetails.patientId}}</span>
      </button>
    </div>
  </nav>
  <div *ngIf="currentTab === 'PATIENT_TAB'">
    <app-patient-details [patientDetails]="patientDetails"></app-patient-details>
  </div>
  <div *ngIf="currentTab === 'F11_NOTES_TAB'">
    <app-notes-details></app-notes-details>
  </div>
  <div *ngIf="currentTab === 'TIMELINE_TAB'">
    <app-timeline-details></app-timeline-details>
  </div>
</div>