.main-container{
  padding: 10px;    
}

.main {
  width: 20%;
  margin-left: 15px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.contentDiv {
  max-height: 300px;
  min-height: 60vh;
  overflow-y: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: #495057;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: var(--purple-theme);
}