<div class="main-container">
  <section class="content-section px-1 my-2">
    <div class="main">
      <!-- <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" (keyup)="onKeyUp($event)" placeholder="Search" [(ngModel)]="search">
      </div> -->
    </div>
    <div class="col-md-12">
      <div *ngIf="htmlContent" class="contentDiv p-2 bg-white">
        <pre [innerHtml]="htmlContent | safe: 'html' "></pre>
      </div>
      <div *ngIf="!htmlContent" class="contentDiv p-2 bg-white">
        <div>
          <h5>No Data Found</h5>
        </div>
      </div>
    </div>
  </section>
  <section *ngIf="htmlContent" class="content-section px-1 my-2">
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center" style="max-width: 100px;">
        <span class="badge badge-secondary p-2">Match on tags</span>
      </div>
      <div class="ml-2" *ngFor="let matchTag of matchTags;">
        <button type="button" class="btn btn-outline" [ngStyle]="{'background-color': matchTag.tag_color}">
          <span style="color: white;">{{matchTag.tag_name}} ( {{matchTag.matchCount}} )</span>
        </button>
      </div>
    </div>
  </section>
</div>