<div class="main-container">
  <section class="content-section px-1 my-2">
    <div class="main">
      <!-- <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" (keyup)="onKeyUp($event)" placeholder="Search" [(ngModel)]="search">
      </div> -->
    </div>
    <div class="col-md-12">
      <!-- <textarea rows="15" class="form-control" innerHtml="htmlContent | highlight: 'search'"></textarea> -->
      <!-- | 'highlight' : 'search' -->
      <div [innerHTML]="htmlContent | safeHtml" class="contentDiv p-2 bg-white"></div>
    </div>
  </section>
  <section class="content-section px-1 my-2">
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center" style="max-width: 100px;">
        <span class="badge badge-secondary p-2">Match on tags</span>
      </div>
      <div class="ml-5">
        <button type="button" class="btn btn-primary"><span style="color: white">Be sure to staff</span></button>
        <button type="button" class="btn btn-info ml-3"><span style="color: white">Working on staffing</span></button>
        <button type="button" class="btn btn-success ml-3"><span style="color: white">PT was requesting</span></button>
      </div>
    </div>
  </section>
  <section class="content-section px-1 my-2">
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center" style="max-width: 100px;">
        <span class="badge badge-secondary p-2">Add Flags to Match</span>
      </div>
      <div class="ml-5">
        <select class="form-control" style="border-color: green;">
          <option value="msoc">Missed Start of Care (MSOC)</option>
        </select>
      </div>
    </div>
  </section>
</div>