<div class="main-container">
  <section class="content-section px-2">
    <div style="padding: 2px">
      <fieldset class="outer-field-set">
        <legend class="w-auto px-3 d-inline-block">Paient Info</legend>
        <div style="margin: 5px;">
          <div class="row">
            <div class="d-flex">
              <div class="p-2">
                <label class="purple-theme">First Name: </label>
              </div>
              <div class="p-2">sgfsdgbsgbsdsgfdgsg</div>
            </div>
            <div class="d-flex">
              <div class="p-2 ml-3">
                <label class="purple-theme">Last Name: </label>
              </div>
              <div class="p-2">sdfdsfdsfsd</div>
            </div>
            <div class="d-flex">
              <div class="p-2 ml-3">
                <label class="purple-theme">DOB: </label>
              </div>
              <div class="p-2">17/15/2014</div>
            </div>
            <div class="d-flex">
              <div class="p-2 ml-3">
                <label class="purple-theme">Gender: </label>
              </div>
              <div class="p-2">M</div>
            </div>
            <div class="d-flex">
              <div class="p-2">
                <label class="purple-theme">Phone Number: </label>
              </div>
              <div class="p-2">(222)-746-8558</div>
            </div>
          </div>
          <div class="row">
            <div class="d-flex">
              <div class="p-2">
                <label class="purple-theme">Address: </label>
              </div>
              <div class="p-2">sdfdsf sdsd sfdd fddfddsf sddsfsd</div>
            </div>
            <div class="d-flex">
              <div class="p-2 ml-3">
                <label class="purple-theme">City: </label>
              </div>
              <div class="p-2">sdfdsf</div>
            </div>
            <div class="d-flex">
              <div class="p-2 ml-3">
                <label class="purple-theme">State: </label>
              </div>
              <div class="p-2">sdfdsfdsfds</div>
            </div>
            <div class="d-flex">
              <div class="p-2 ml-3">
                <label class="purple-theme">Zip Code: </label>
              </div>
              <div class="p-2">394210</div>
            </div>
          </div>
          <div class="row">
            <div class="d-flex">
              <div class="p-2">
                <label class="purple-theme">Insurance Name: </label>
              </div>
              <div class="p-2">sdfdsf sdsd sfdd fddfddsf sddsfsd</div>
            </div>
            <div class="d-flex">
              <div class="p-2 ml-3">
                <label class="purple-theme">Subscriber Id: </label>
              </div>
              <div class="p-2">0HDSNKJCCJH455</div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset id='key-indicator' class="outer-field-set mt-2">
        <legend class="w-auto px-3 d-inline-block">Key Indicator</legend>
        <div class="d-flex" style="margin: 5px;">
          <div class="left-section">
            <div class="row">
              <div class="d-flex">
                <div class="p-2">
                  <input type="checkbox" /> Pediatric Patient
                </div>
              </div>
              <div class="d-flex">
                <div class="p-2 ml-3">
                  <input type="checkbox" /> Urgent
                </div>
              </div>
              <div class="d-flex">
                <div class="p-2 ml-3">
                  <input type="checkbox" /> Engaged by Escalation Team
                </div>
              </div>
              <div class="d-flex">
                <div class="p-2 ml-3">
                  <input type="checkbox" /> ReStaff/Turnback
                </div>
              </div>
            </div>
            <div class="row">
              <div class="d-flex">
                <div class="p-2">
                  <input type="checkbox" /> Primary Care Physician
                </div>
              </div>
              <div class="d-flex">
                <div class="p-2 ml-3">
                  <input type="checkbox" /> Following Physician
                </div>
              </div>
              <div class="d-flex">
                <div class="p-2 ml-3">
                  <input type="checkbox" /> Wound Care
                </div>
              </div>
            </div>
            <div class="row">
              <div class="d-flex">
                <div class="p-2">
                  <input type="checkbox" /> Facility Discharge
                </div>
              </div>
            </div>
          </div>
          <div class='d-flex flex-column justify-content-center align-content-center right-section'>
            <div class="align-self-center">
              <label>
                <span class="fa fa-phone purple-theme" style="transform: rotateY(180deg);"></span>
                Call Count
              </label>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <select class="form-control" style="max-width: 100px;">
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
              </select>
              <div>
                <input type="number" value="3" style="width: 40px; margin-left: 10px;">
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </section>
  <section id="service-details" class="content-section px-2 mt-2">
    <div style="padding: 2px">
      <fieldset class="outer-field-set">
        <legend class="w-auto px-3 d-inline-block">Service Details</legend>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel id="panel1">
            <ng-template ngbPanelHeader>
              <div (click)="acc.toggle('panel1')" class="w-100" ngbPanelToggle>
                <h1>Service 1111</h1>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <app-service-accordion></app-service-accordion>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Service code 2513">
            <ng-template ngbPanelContent>
              <app-service-accordion></app-service-accordion>
            </ng-template>
          </ngb-panel>      
          <ngb-panel title="Service code 2514">
            <ng-template ngbPanelContent>
              <app-service-accordion></app-service-accordion>
            </ng-template>
          </ngb-panel>               
        </ngb-accordion>
      </fieldset>
    </div>    
  </section>
</div>