<div class="main-container">
  <section class="content-section px-2 my-2">
    <div style="padding: 2px">
      <fieldset class="outer-field-set bg-white">
        <legend class="w-auto px-3 d-inline-block lengend-title py-1">Patient Info</legend>
        <div style="margin: 5px;">
          <div class="row details-content-bar">
            <!-- <form novalidate>
              <div class="row"> -->
            <div class="col-lg-3 form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" value="{{patientDetails.first_name}}" readonly>
            </div>
            <div class="col-lg-3 form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" value="{{patientDetails.last_name}}" readonly>
            </div>
            <div class="col-lg-3 form-group">
              <label for="dob">DOB</label>
              <input type="text" class="form-control" id="dob" value="{{patientDetails.dob}}" readonly>
            </div>
            <div class="col-lg-3 form-group">
              <label for="gender">Gender</label>
              <input type="text" class="form-control" id="gender" value="{{patientDetails.gender}}" readonly>
            </div>
            <div class="col-lg-3 form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="text" class="form-control" id="phoneNumber" value="{{patientDetails.phone_number}}" readonly>
            </div>
            <div class="col-lg-3 form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" value="{{patientDetails.address}}" readonly>
            </div>
            <div class="col-lg-3 form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" value="{{patientDetails.city}}" readonly>
            </div>
            <div class="col-lg-3 form-group">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" value="{{patientDetails.state}}" readonly>
            </div>
            <div class="col-lg-3 form-group">
              <label for="zipCode">Zip Code</label>
              <input type="text" class="form-control" id="zipCode" value="{{patientDetails.zipcode}}" readonly>
            </div>
            <div class="col-lg-3 form-group">
              <label for="insuranceName">Insurance Name</label>
              <input type="text" class="form-control" id="insuranceName" value="{{patientDetails.insurance_name}}"
                readonly>
            </div>
            <div class="col-lg-3 form-group">
              <label for="subscribeId">Subscriber Id</label>
              <input type="text" class="form-control" id="subscribeId" value="{{patientDetails.subscribe_id}}" readonly>
            </div>
            <!-- </div>
            </form> -->
          </div>
        </div>
      </fieldset>
      <fieldset id='key-indicator' class="outer-field-set mt-2">
        <legend class="w-auto px-3 d-inline-block lengend-title py-1">Key Indicator</legend>
        <div class="d-flex" style="margin: 5px;">
          <div class="left-section">
            <div class="row">
              <div class="col-lg-3 form-group">
                <input type="checkbox" [checked]="patientDetails.key_indicator.pediatric_patient" /> PEDIATRIC PATIENT
              </div>
              <div class="col-lg-3 form-group">
                <input type="checkbox" [checked]="patientDetails.key_indicator.urgent" /> URGENT
              </div>
              <div class="col-lg-3 form-group">
                <input type="checkbox" [checked]="patientDetails.key_indicator.engaged_by_escalation_team" /> ENGAGED BY ESCALATION TEAM
              </div>
              <div class="col-lg-3 form-group">
                <input type="checkbox" [checked]="patientDetails.key_indicator.restaff_turnback" /> RESTAFF/TURNBACK
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 form-group">
                <input type="checkbox" [checked]="patientDetails.key_indicator.primary_care_physician" /> PRIMARY CARE PHYSICIAN
              </div>
              <div class="col-lg-3 form-group">
                <input type="checkbox" [checked]="patientDetails.key_indicator.following_physician" /> FOLLOWING PHYSICIAN
              </div>
              <div class="col-lg-3 form-group">
                <input type="checkbox" [checked]="patientDetails.key_indicator.wound_care" /> WOUND CARE
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 form-group">
                <input type="checkbox" [checked]="patientDetails.key_indicator.facility_discharge"/> FACILITY DISCHARGE
              </div>
            </div>
          </div>
          <div class='d-flex flex-column justify-content-center align-content-center right-section'>
            <div class="align-self-center">
              <label>
                <span class="fa fa-phone purple-theme" style="transform: rotateY(180deg);"></span>
                Call Count
              </label>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <select class="form-control" style="max-width: 100px;">
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
              </select>
              <div>
                <input type="number" value="3" style="width: 40px; margin-left: 10px; padding-left: 5px;">
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </section>
  <section id="service-details" class="content-section px-2 mt-2">
    <div style="padding: 2px">
      <fieldset class="outer-field-set">
        <legend class="w-auto px-3 d-inline-block lengend-title py-1">Service Details</legend>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel *ngFor="let service of patientDetails.service; let i = index; trackBy: trackByFn;" [id]="'panel'+i">
            <ng-template ngbPanelHeader>
              <div (click)="acc.toggle('panel'+i)" class="w-100 card-header d-flex justify-content-between"
                ngbPanelToggle>
                <div>
                  <h5 class="card-header-text pt-1">Service Code #{{service.service_code}}</h5>
                </div>
                <div>
                  <i class="fa fa-caret-down" style="color: white; margin-top: 10px;" aria-hidden="true"></i>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <app-service-accordion [serviceDetails]="service"></app-service-accordion>
            </ng-template>
          </ngb-panel>
          <!-- <ngb-panel id="panel2">
            <ng-template ngbPanelHeader>
              <div (click)="acc.toggle('panel2')" class="w-100 card-header d-flex justify-content-between"
                ngbPanelToggle>
                <div>
                  <h5 class="card-header-text pt-1">Service Code 2513</h5>
                </div>
                <div>
                  <i class="fa fa-caret-down" style="color: white; margin-top: 10px;" aria-hidden="true"></i>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <app-service-accordion></app-service-accordion>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="panel3">
            <ng-template ngbPanelHeader>
              <div (click)="acc.toggle('panel3')" class="w-100 card-header d-flex justify-content-between"
                ngbPanelToggle>
                <div>
                  <h5 class="card-header-text pt-1">Service Code 2514</h5>
                </div>
                <div>
                  <i class="fa fa-caret-down" style="color: white; margin-top: 10px;" aria-hidden="true"></i>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <app-service-accordion></app-service-accordion>
            </ng-template>
          </ngb-panel> -->
        </ngb-accordion>
      </fieldset>
    </div>
  </section>
</div>