.main-container{
  padding: 5px;  
  /* background-color: yellow; */
}

.outer-field-set{
  border: 1px solid grey;
  padding-left: 15px; 
  padding-right: 15px; 
  padding-bottom: 15px;  
  background-color: white;
  color: #7f7f7f;
}
.w-auto.px-3.d-inline-block {
  color: rgb(33,37,41);
}
#key-indicator .left-section{
  flex: 0 0 70%;
  box-sizing: border-box;
  max-width: 70%;
}

#key-indicator .right-section{
  flex: 0 0 30%;
  box-sizing: border-box;
  max-width: 30%;
}

.card-header{
  background-color: var(--purple-theme);
}

.card-header:hover {
  cursor: pointer;
}

.card-header-text{
  color:  var(--white-theme);
}

.card-header-text:hover{
  color:  var(--white-theme);
}
input[type="checkbox"], input, select {
  pointer-events: none;
}

.lengend-title{
  background-color: var(--purple-theme);
    border-radius: 10px;
    border: 0.5px solid lightgrey;
    color: white !important;
}
