.main-container{
  padding: 5px;  
  /* background-color: yellow; */
}

.mini-header{
  border: 1px solid lightgrey;
  padding: 15px;
  background-color: white;  
  border-radius: 5px;
}

.outer-field-set{
  border: 1px solid lightgrey;
  padding-left: 15px; 
  padding-right: 15px; 
  padding-bottom: 15px;  
  background-color: white;
  color: #7f7f7f;
  border-radius: 5px;
}
.w-auto.px-3.d-inline-block {
  color: rgb(33,37,41);
}
#key-indicator .left-section{
  flex: 0 0 70%;
  box-sizing: border-box;
  max-width: 70%;
}

#key-indicator .right-section{
  flex: 0 0 30%;
  box-sizing: border-box;
  max-width: 30%;
}

.card-header{
  background-color: var(--dark-grey);
}

.card-header:hover {
  cursor: pointer;
}

.card-header-text{
  color:  var(--white-theme);
  font-size: 1rem;
}

.card-header-text:hover{
  color:  var(--white-theme);
}
input[type="checkbox"], input, select {
  pointer-events: none;
}

.lengend-title{
  background-color: var(--white-theme);
    border-radius: 10px;
    border: 0.5px solid lightgrey;
    color: #212529 !important;
    font-weight: 500 !important;
    font-size: 1.25rem;
    text-transform: uppercase;
    box-shadow: 0px 1px 1px 0px black
}
.form-control:disabled, .form-control[readonly] {
  background-color: transparent;
  padding-left: 0px;
}

.long-and-truncated-with-child-corrected {
  flex: 1;
  min-width: 0;
}

.long-and-truncated-with-child-corrected h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}