<div class="page-wrap">
  <nav class="navbar navbar-expand-lg navbar-dark justify-content-center secondary-navbar">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Patient Number" aria-label="Search">
      <input class="form-control mr-sm-2" type="search" placeholder="Intake Id" aria-label="Search">
    </form>
  </nav>
  <div class="main-container">
    <section>
      <ng2-smart-table [settings]="settings" [source]="myData" (userRowSelect)="onPatientView($event)">
      </ng2-smart-table>
    </section>
  </div>
</div>