.main-container{
  padding: 10px;
  color: var(--font-grey);
  font-size: 14px;
}

.font-styles {
  color: var(--worm-grey);
  font-size: 14px;
}

.even-row{
  background: #f5f7fa;  
}

.odd-row{
  background: #ccd6e5;
}

a.ng2-smart-sort-link {
  color: var(--warm-grey);
}
::ng-deep a.sort.asc::after,
::ng-deep a.sort.desc::after {
  border-bottom: 4px solid black !important;
}
::ng-deep div.ng2-smart-title {
  font-weight: 400;
}