.main-container{  
  padding: 5px;  
  margin: 10px;  
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.close-btn{
  background-color: var(--purple-theme);
  color: white;
}

ol li:hover {
  cursor: pointer;
}