.main-container{
    /* height: calc(100% - 20px);  */
    padding: 5px;  
    margin: 10px;
    /* background-color: yellow; */
  }

  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }