<div style="margin: 5px;">
  <div class="row">
    <div class="d-flex">
      <div class="p-2">
        <label class="purple-theme">HCPC Code: </label>
      </div>
      <div class="p-2">A7037</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Start Date: </label>
      </div>
      <div class="p-2">04/04/2018</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">End Date: </label>
      </div>
      <div class="p-2">10/31/2018</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Number of Units: </label>
      </div>
      <div class="p-2">1</div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <div class="p-2">
        <label class="purple-theme">Description: </label>
      </div>
      <div class="p-2">CPAP Tubing</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Primary Diagnosis: </label>
      </div>
      <div class="p-2">E70319</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Ref. Source: </label>
      </div>
      <div class="p-2">Facility - ABC Facility</div>
    </div>
  </div>
  <div class="row" style="background-color: #eee;">
    <div class="d-flex">
      <div class="p-2">
        <label style="font-size: 1rem;" class="purple-theme font-weight-bold">
          Ordering Physician Name
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <div class="p-2">
        <label class="purple-theme">Name: </label>
      </div>
      <div class="p-2">Shara Bowerman</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Address: </label>
      </div>
      <div class="p-2">6116 E ARBOR AVE SUITE 112</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">City: </label>
      </div>
      <div class="p-2">REHOBOTH BEACH</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">State: </label>
      </div>
      <div class="p-2">NM</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Zip: </label>
      </div>
      <div class="p-2">95972-3338</div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <div class="p-2">
        <label class="purple-theme">Phone: </label>
      </div>
      <div class="p-2">2358441258</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Fax: </label>
      </div>
      <div class="p-2">(913)161-6663</div>
    </div>
  </div>
  <div class="row" style="background-color: #eee;">
    <div class="d-flex">
      <div class="p-2">
        <label style="font-size: 1rem;" class="purple-theme font-weight-bold">
          Primary Physician
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <div class="p-2">
        <label class="purple-theme">Name: </label>
      </div>
      <div class="p-2">BRONX LEBANON HOSP FULTON</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Address: </label>
      </div>
      <div class="p-2">1703 W. OWASSA ROAD</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">City: </label>
      </div>
      <div class="p-2">ABINGTON</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">State: </label>
      </div>
      <div class="p-2">WY</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Zip: </label>
      </div>
      <div class="p-2">491960745</div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <div class="p-2">
        <label class="purple-theme">Phone: </label>
      </div>
      <div class="p-2">(450)609-1613</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Fax: </label>
      </div>
      <div class="p-2">(569)689-3492</div>
    </div>
  </div>
  <div class="row" style="background-color: #eee;">
    <div class="d-flex">
      <div class="p-2">
        <label style="font-size: 1rem;" class="purple-theme font-weight-bold">
          Servicing Provider
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <div class="p-2">
        <label class="purple-theme">Name: </label>
      </div>
      <div class="p-2">Shara Bowerman</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Address: </label>
      </div>
      <div class="p-2">6116 E ARBOR AVE SUITE 112</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">City: </label>
      </div>
      <div class="p-2">REHOBOTH BEACH</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">State: </label>
      </div>
      <div class="p-2">NM</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Zip: </label>
      </div>
      <div class="p-2">95972-3338</div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <div class="p-2">
        <label class="purple-theme">Phone: </label>
      </div>
      <div class="p-2">2358441258</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label class="purple-theme">Fax: </label>
      </div>
      <div class="p-2">(913)161-6663</div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <div class="p-2">
        <label style="font-size: 1rem;" class="purple-theme font-weight-bold">Referral Type: </label>
      </div>
      <div class="p-2">Auth Edit</div>
    </div>
    <div class="d-flex">
      <div class="p-2 ml-3">
        <label style="font-size: 1rem;" class="purple-theme font-weight-bold">Referral Method: </label>
      </div>
      <div class="p-2">Online - Provider Portal</div>
    </div>
  </div>
</div>