<div style="margin: 5px;">
  <div class="row details-content-bar">
    <!-- <form novalidate>
        <div class="row"> -->
    <div class="col-lg-3 form-group">
      <label for="hcpcCode">HCPC Code</label>
      <input type="text" class="form-control" id="hcpcCode" value="A7037" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="startDate">Start Date</label>
      <input type="text" class="form-control" id="startDate" value="04/04/2018" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="endDate">End Date</label>
      <input type="text" class="form-control" id="endDate" value="10/31/2018" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="noOfUnits">Number of Units</label>
      <input type="text" class="form-control" id="noOfUnits" value="1" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" value="CPAP Tubing" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="primaryDiagnosis">Primary Diagnosis</label>
      <input type="text" class="form-control" id="primaryDiagnosis" value="E70319" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="refSource">Ref. Source</label>
      <input type="text" class="form-control" id="refSource" value="Facility - ABC Facility" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="hcpcCode">Number of Units</label>
      <input type="text" class="form-control" id="hcpcCode" value="Facility - ABC Facility" readonly>
    </div>
    <!-- </div> -->
    <!-- </form> -->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h5 class="text-uppercase">Ordering Physician Name</h5>
    </div>
  </div>
  <div class="row details-content-bar">
    <div class="col-lg-3 form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" value="Shara Bowerman" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" value="6116 E ARBOR AVE SUITE 112" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" value="REHOBOTH BEACH" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" value="NM" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="zip">Zip</label>
      <input type="text" class="form-control" id="zip" value="95972-3338" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" value="2358441258" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="fax">Fax</label>
      <input type="text" class="form-control" id="fax" value="(913)161-6663" readonly>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h5 class="text-uppercase">Primary Physician</h5>
    </div>
  </div>
  <div class="row details-content-bar">
    <div class="col-lg-3 form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" value="BRONX LEBANON HOSP FULTON" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" value="1703 W. OWASSA ROAD" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" value="ABINGTON" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" value="WY" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="zip">Zip</label>
      <input type="text" class="form-control" id="zip" value="491960745" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" value="(450)609-1613" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="fax">Fax</label>
      <input type="text" class="form-control" id="fax" value="(569)689-3492" readonly>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h5 class="text-uppercase">Servicing Provider</h5>
    </div>
  </div>
  <div class="row details-content-bar">
    <div class="col-lg-3 form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" value="Shara Bowerman" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" value="6116 E ARBOR AVE SUITE 112" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" value="REHOBOTH BEACH" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" value="NM" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="zip">Zip</label>
      <input type="text" class="form-control" id="zip" value="95972-3338" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" value="2358441258" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="fax">Fax</label>
      <input type="text" class="form-control" id="fax" value="(913)161-6663" readonly>
    </div>
  </div>
  <div class="row details-content-bar">
    <div class="col-lg-3 form-group">
      <label for="refferalType">Referral Type</label>
      <input type="text" class="form-control" id="refferalType" value="Auth Edit" readonly>
    </div>
    <div class="col-lg-3 form-group">
      <label for="refferalMethod">Referral Method</label>
      <input type="text" class="form-control" id="refferalMethod" value="Online - Provider Portal" readonly>
    </div>
  </div>
</div>